.main-nav {
    display: flex;
    margin: 35px;
    justify-content: center;
    z-index:1;
}


#nav-wrapper {
  background-color: gray;
  padding:5px;
  box-shadow: 1px 1px 1px gray;
}

.nav-link {
    margin: 0 10px;
    color: #3B3D48;
    font-size:20px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.navbar-collapse {
  justify-content: center;
}

@media (min-width: 720px) {


}
@media (max-width: 720px) {

  .main-nav  {
 
    margin: 0px;
    justify-content: space-around;
    padding: 0;
  }

  .nav-link {
    padding: .5rem 0;
  }
}